<!DOCTYPE html>
<html>
<head>
<style>
body{font-family:Arial;background:#1e88e5;margin:0;padding:0}
.navbar{background:#6f4e37;color:white;padding:15px;display:flex;justify-content:space-between}
.navbar a{color:white;text-decoration:none;margin-left:15px;font-weight:bold}
.container{width:60%;margin:auto;padding:30px;text-align:center}
.card{background:white;padding:20px;border-radius:10px;margin:15px 0;box-shadow:0 5px 10px rgba(0,0,0,0.1)}
.card h3{color:#1e3a8a}
</style>
</head>
<body>

<div class="navbar">
<h2>Leadership</h2>
<div>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Logout</a>
</div>
</div>

<div class="container">
<div class="card"><h3>Chairperson</h3><p>James kiilu mutiso</p></div>
<div class="card"><h3>Assistant Chairperson</h3><p>Francis Wanjiku</p></div>
<div class="card"><h3>Secretary</h3><p>james Nderitu</p></div>
<div class="card"><h3>Assistant Secretary</h3><p>Charles Muthoni</p></div>
<div class="card"><h3>Treasurer</h3><p>jakie mugambi</p></div>
<div class="card"><h3>Assistant Treasurer</h3><p>Morgan Kungutia</p></div>
<div class="card"><h3>Welfare Organiser</h3><p>Mercy Mwita</p></div>
<div class="card"><h3>Organising Secretary</h3><p>samuel karugi</p></div>
<div class="card"><h3>Researchers</h3><p>Marius Kiplagat,Raphael koome,Miriam Kawira,Erickson Egala</p></div>
</div>

</body>
</html>